// .form {
//     display: flex;
//     flex-direction: column;
//     gap: 20px;
//     max-width: 400px;
//     margin: 0 auto;
//     padding: 20px;
//     border: 1px solid #ccc;
//     border-radius: 8px;
//   }
  
//   .label {
//     font-size: 16px;
//     margin-bottom: 5px;
//     display: grid;
// ;
//   }
  
//   .input, .inputCity {
//     padding: 10px;
//     font-size: 14px;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//   }
  
//   .textarea {
//     padding: 10px;
//     font-size: 14px;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//   }
  
//   /* Локальный класс для кнопки */
//   .button {
//     padding: 10px 20px;
//     background-color: #4CAF50;
//     color: white;
//     border: none;
//     border-radius: 4px;
//     font-size: 16px;
//     cursor: pointer;
//   }
  
//   .button:disabled {
//     background-color: #ccc;
//   }
  
//   .button:hover:not(:disabled) {
//     background-color: #45a049;
//   }
  
//   .inputWrapper {
//     position: relative;
//     display: flex;
//     align-items: center;
//     width: 90%;
//   }
  
//   .input {
//     width: 90%;
//     padding-right: 30px; /* Добавляем место для стрелки */
//   }
  
//   .arrow {
//     position: absolute;
//     right: 10px;
//     font-size: 16px;
//     color: #888;
//     pointer-events: none; /* Чтобы стрелка не мешала клику */
//   }
  
//   .toggleButton{
        
//         margin-top: 17px;
//         padding: 8px;
//         border-radius: 5px;
//         border: 1px solid gray; /* Серый бордер */
//   }


//   .dropdown {
//     position: absolute;
//     background-color: white;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//     max-height: 200px;
//     overflow-y: auto;
//     z-index: 1000;
//     width: 100%;
//   }
  
//   .dropdownItem {
//     padding: 10px;
//     cursor: pointer;
//   }
  
//   .dropdownItem:hover {
//     background-color: #f0f0f0;
//   }