



.headerContainer {
  background: blue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  max-width: 100%;
  overflow: hidden;
}

.headerDiv {
  display: flex;
  gap: 35px;
  align-items: center;
  margin-right: 4%;
}

@media (max-width: 768px) {
  .headerDiv {
    margin-right: 8%; /* Увеличиваем отступ на мобильных */
  }
}

.homLogo {
  font-size: 1.5rem;
  font-weight: bold;
  white-space: nowrap;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 7%;
}

.homLogo a {
  text-decoration: none;
  color: inherit;
}

/* Обёртка для фиксированного слогана */
.sloganFixed {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 999;
  padding: 5px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

/* Стиль для текста слогана */
.homSlogan {
  max-width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  color: blue;
  text-shadow:
    0 0 10px yellow,
    0 0 20px yellow,
    0 0 30px yellow,
    0 0 40px yellow,
    0 0 50px yellow;
  margin: 0;
  padding-top: 50px;
}

/* Стиль для десктопной версии слогана */
.desktopSlogan {
  display: inline;
  
  @media (max-width: 768px) {
    display: none;
  }
}

/* Стиль для мобильной версии слогана */
.mobileSlogan {
  display: none;
  
  @media (max-width: 768px) {
    display: inline;
  }
}

.menuWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

.menuText {
  font-size: 20px;
  color: white;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-right: 5px;
  padding-bottom: 5px;
}

.burgerIcon {
  // Стили для иконки бургер-меню
}



