.headerContainer{
    background: blue
    
}
.headerDiv{
  display: flex;
  gap: 35px;
  align-items: center;
 margin-right: 4%;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    max-width: 100%; /* Ограничивает ширину контейнера */
    overflow: hidden; /* Прячет содержимое, выходящее за пределы */
    // color: gold;
  }
  
  .homLogo {
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap; /* Запрещает перенос текста */
    // color: white;
    color: white;
    // font-family: "Lato",sans-serif;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 7%;
  }
  
  .homSlogan {
    max-width: 100%; /* Ограничивает ширину слогана */
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    color: blue;
    text-shadow: 
    0 0 10px yellow, 
    0 0 20px yellow, 
    0 0 30px yellow, 
    0 0 40px yellow, 
    0 0 50px yellow;
  
    
  }
  

  .homLogo a {
    text-decoration: none;
    color: inherit;
  }
  